/*
* @Author: du
* @Date:   2019-04-28 18:36:43
 * @Last Modified by:   du
 * @Last Modified time: 2019-05-08 20:52:37
*/

@media (max-width:700px){
	body{
	font-size: 15px;
}
}
@media (min-width:1000px){
	body{
		font-size: 20px;
	}
}

*{
	margin:0px;
	padding: 0px;
	border:0px;
}

 @font-face {
    font-family: 'hf';
    src: url('res/font/webfont.eot'); /* IE9 */
    src: url('res/font/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('res/font/webfont.woff') format('woff'), /* chrome、firefox */
    url('res/font/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('res/font/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
header,footer,.sy{
	font-family: "hf";
}
.header{
	text-align: center;
	padding: 0.5rem;
}
#title{
	font-size: 3rem;
	padding: 0.5rem;
}
.nav{
	max-width: 100rem;
	border-radius: 1.5rem;
    padding: 0.35rem;
    margin: 0.5rem auto;
    /*background: #00000010;*/
}
.nav .item{
	margin: 0.1rem auto; 
	padding: 0.1rem 0.3rem;
	display: inline-block;
	max-width: 5.5rem;
	border: 0.2rem black ;
	color: #000;
	text-decoration:none;
    transition: all 0.5s ease-in .1s;
}
.nav .item:hover{
    border: #343434 double 2px;
    background: #343434;
    border-radius: 0.5rem;
    /* width: 140px; */
    color: #caddf5;
}
.container{
	padding: 0.1rem 0.5rem;
	position: relative;
	max-width: 100%;
	overflow: hidden;
}
.container #main{
	border-radius: 1.5rem;
	display: block;
	height: 23rem;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 8rem 3rem 5rem 2rem;
	text-align: center;
	line-height: 2rem;
}
.describe{
	text-align: center;
	color: #000;
	max-height: 23rem;
	padding: 2rem;
	width: 40rem;
	max-width: 90%;
	margin:auto;
	background: rgba(255,255,255,0.8);
	overflow: overlay;


}
.describe p{
	padding: 1rem;
	text-align: left;
	max-height: 13rem;
	line-height: 1.5rem;
}
.container #main .describe .title{
	text-align: center;
}
#pic-group{
	text-align: center;
	display: none;
	height: 10rem;
	overflow: hidden;
}
#pic-group img{
	margin: 0px;
	vertical-align: top;
	border-radius: 1rem;
	width: 18rem;
}
/*
分模块写css
 */
.sy p{
	text-align: center;
	padding: 0.5rem 3rem;
}

.fk input,.fk textarea,.fk select{
	border: black solid 1px;
    background: rgb(227, 247, 255);
    color: rgba(255, 111, 111, 0.856);
    border-radius: 5px;
    padding: 2px 5px;
    width: 20rem;
    max-width: 80%;
    box-sizing: border-box;
}
.fk input,.fk select{
	height: 2rem;
}

.fk input[type='submit']{
	border: none;
    background: #ff6d6d;
    color: #eeffee;
    border-radius: 7px;
    height: 35px;
    padding: 3px;
    width: 21rem;
    max-width: 80%;
}
.fk label{
	display: block;
	text-align: left;
	width: 3rem;
	margin:auto;
}

#footer{
	margin: 1rem ;
	text-align: center;
	
}
#danmu{
	position: absolute;
	max-height: 25rem;
}

/*
动画
 */

.dm{
        position: absolute;
        right: -100%;  //保证一开始在界面外侧，从右向左就是right，从左向右就是left
        max-height: 1.8rem;
        margin-top: 1rem;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 0.5rem;
        white-space: nowrap;   /*确保内容在一行显示，不然移动到最后会折行*/
        padding: 0.2rem 0.5rem;
		animation-fill-mode: backwards;

    }
.dm span{
            font-size: 0.8rem;
            line-height: 0.6rem;
            height: 0.8rem;
            display: inline-block;
    }
